@model IEnumerable<Cliente>

    @{
        Layout = null;
    }

    <table class="ui-widget ui-state-default ui-corner-all">
        <thead class="ui-widget-header">
            <tr>
                <th>
                    
                    @Html.DisplayNameFor(model => model.Codigo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                <th>
                    <button class="ui-state-default ui-corner-all btn-create">
                        <span class="ui-icon ui-icon-plus" />
                    </button>
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    <button class="btn-delete ui-state-default ui-corner-all" data-codigo="@item.Codigo">
                        <span class="ui-icon ui-icon-trash" />
                    </button>
                    <button class="btn-edit ui-state-default ui-corner-all" data-codigo="@item.Codigo">
                        <span class="ui-icon ui-icon-pencil" />
                    </button>
                    <button class="btn-details ui-state-default ui-corner-all" data-codigo="@item.Codigo">
                        <span class="ui-icon ui-icon-document" />
                    </button>
                </td>
            </tr>
        }
    </table>

    <div id="modal">

    </div>
